<h1
  style="font-size: 2rem; text-align: center; padding-bottom: 2rem; padding-top:2rem"
>
  404
</h1>
<br />
<div>
  <img
    alt="404"
    src="https://illustatus.herokuapp.com/?title=Oops,%20Page%20not%20found&fill=%234f86ed"
  />
</div>
