<h1 style="text-align: center;">
  Entry point.
</h1>
<div style="text-align: center;">
  <text style="text-align: center">Valid routes:</text>
</div>
<div style="text-align: center;">
  <ul style="display: inline-block; text-align: center;list-style: none;">
    <li>
      /carts
    </li>
    <li>
      /carts/foodCartName
    </li>
    <li>
      /users
    </li>
    <li>
      /users/firstName
    </li>
  </ul>
</div>
